<IfModule mod_rewrite.c>
	SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ 									/$1 [R=301,L]
	RewriteRule ^(localhost:8888)/?$ 						/router.php [NC,L]
	RewriteRule ^404/?$ 									/404.php [NC,L]
	RewriteRule ^beta/?$ 									/tmp/unlock.php [NC,L]
	RewriteRule ^lock/?$ 									/tmp/lock.php [NC,L]
	RewriteRule ^sitemap\.xml/?$ 							/router.php?url=sitemap.xml [NC,L,QSA]
	RewriteRule ^/?$ 										/router.php?url [NC,L,QSA]
	RewriteRule ^([A-Za-z0-9-_/]+)/?$ 						/router.php?url=$1 [NC,L,QSA]
</IfModule>

<IfModule php_module>
	<FilesMatch \.php$>
		SetHandler application/x-httpd-php
	</FilesMatch>
	
	<IfModule dir_module>
		DirectoryIndex index.html index.php
	</IfModule>
</IfModule>

Header set Access-Control-Allow-Origin * 
Header set Access-Control-Allow-Methods HEAD,GET,POST,PUT
Header set Access-Control-Allow-Headers Authorization,X-Authorization,X-Requested-With

#
# IMAGES CACHE
#

FileETag MTime Size

<ifModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 7 days"
	ExpiresByType image/jpeg "access plus 7 days"
	ExpiresByType image/png "access plus 7 days"
</ifModule>

<ifModule mod_headers.c>
	<filesMatch "\.(ico|jpg|jpeg|png|gif|){:content:}">
		Header set Cache-Control "max-age=604800, private, must-revalidate"
		Header append Vary Accept-Encoding
		Header append Vary User-Agent env=!dont-vary
		Header unset Pragma
	</filesMatch>
</ifModule>